.letra_orokorra {
    -fx-text-fill: rgb(93, 98, 102);
    -fx-font-size: 18px;
    -fx-font-weight:none;
}
.tab .tab-label {
    -fx-text-fill: rgb(93, 98, 102); 
}
.tab .tab-label:hover {
    -fx-text-fill: rgb(15, 116, 184); 
}
.ezker_menua {
    -fx-background-color: rgba(221, 221, 221);
}
.ezker_menua_botoia {
    -fx-text-fill: rgb(93, 98, 102);
}
.ezker_menua_botoia:hover {
    -fx-text-fill: rgb(15, 116, 184);
}
#id_makinaEkintzaPantaila{
    -fx-background-image: url "Logoa\TxirbilDBHorizontal.png"
}
.footer_urdina {
    -fx-background-color: rgb(15, 116, 184);
}
.label {
    -fx-text-fill:  rgb(255, 196, 81);
}